* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
:root {
    --azure-color: azure;
    --hsla-color: hsla(24, 100%, 78%, 0.604); 
}
a {
    color: var(--azure-color);
}
html {
    scroll-behavior: smooth;
  }
ul, li {
    list-style: none;
}

.header_box {
    position: fixed;
    top: 2%;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    padding: 0 10px;
    justify-content: flex-end;
    align-items: center;
    transition: background-color 0.3s ease;
    z-index: 1000; /* z-index를 높여서 다른 요소들 위로 오도록 */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

    &.active {
        background-color:rgba(37, 37, 37, 0.349);
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        padding: 1rem 10px;
        border: 1px solid #333;
        border-radius: 30px;
        margin-right: 25px;
        position: relative;

        li {
            margin: 0px 10px;
            transition: background-color 0.3s ease;

            a {
                font-size: 1.1rem;
                white-space: nowrap;
                font-weight: 400;
                padding: 0 20px;
                color: var(--azure-color);
                cursor: pointer; /* 커서 포인터 */
                transition: color 0.3s ease;
                text-decoration-line: none;

            }

            &.active a {
                color: var(--hsla-color); 
            }
            &:hover a {
                color: var(--hsla-color);
            }
        }
    }

}