* {
  transition-duration: 0.8s;
}

.section {
  width: 100%;
  height: 100vh;
  font-size: 32px;
  text-align: center;
  background-color: rgb(39, 39, 39);
  color: aliceblue;
}

.section_1 {
  background-color: black;
}

.section_1 img {
  height: 100vh;
}